@page "/addcategory"
@inherits CategoriesBase

<EditForm Model=@itemCategoryDto>
  <div class="form-group">
    <label for="Name">Category</label>
    <InputText @bind-Value=itemCategoryDto.Name class="form-control" id="Name" />
  </div>
  <br />
    <a class="btn btn-primary" 
        @onclick ="() => (AddCategory_Click(new ItemCategoryDto{
        Name = itemCategoryDto.Name
    }))">Add</a>
</EditForm>

@code {
  ItemCategoryDto itemCategoryDto = new ItemCategoryDto();
}