@page "/categories"
@inherits CategoriesBase

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div>
    <a class="btn btn-primary" 
    href="/addcategory">Add</a>
</div>
<br />

@if (Category == null)
{
    <p><em>Loading categories</em></p>
}
else
{
    var categoryRowList = new List<ItemCategoryDto>();
    categoryRowList = Category.ToList();
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Filter..."
           @bind="Filter"
           @bind:event="oninput">
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="sort-th" @onclick="@(() => SortTable("Name"))">
                    Name
                    <span class="fa @(SetSortIcon("Name"))"></span>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in categoryRowList)
            {
                if (!IsVisible(category))
                    continue;
                <tr>
                    <td>@category.Name</td>
                    <td>
                       <a class="btn btn-danger" @onclick="(() => DeleteCategory_Click(category.Id))" href="/categories">Delete</a>  
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
